.aside .logo a::before {
    border-top: 4px solid #2196f3;
    border-left: 4px solid #2196f3;
}

.aside .logo a::after {
    border-bottom: 4px solid #2196f3;
    border-right: 4px solid #2196f3;
}

.live,
.confirm_msg,
.aside .nav li a:hover,
.aside .nav li a.active,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
body.dark .portfolio .portfolio-filter button.active,
.contact .contact-info-item .icon .fa,
.portfolio .portfolio-filter button.active,
.about .about-content .about-text h3 span,
.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa,
.blog .blog-item-inner .blog-info .blog-tags a,
.service .service-item .service-inner-item .icon .fa,
.portfolio .portfolio-item .portfolio-info .icon .fa {
    color: #2196f3;
}

.btn,
.section-title h2::after, 
.section-title h2::before,
.home .intro .social-link a,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.blog .blog-item-inner .blog-img .blog-date,
.about .about-content .timeline .timeline-point,
.about .about-content .timeline .timeline-item::before,
.service .service-item .service-inner-item:hover .icon,
.about .about-content .skills .skill-item .progress .progress-in {
    background-color: #2196f3;
}

.portfolio .portfolio-filter button.active {
    border-color: #2196f3;
}